.footer-type-20 .footer .pattern { padding-bottom: 0px; }
.overflow-megamenu { border: 1px solid #d9d9d9;border-top: none; }
.product-grid-type-8 .product-grid .product .name a { font-size: 13px; }
.horizontal ul.megamenu > li.pull-right > a { background: #ebebeb; }
.product-grid-type-8 .product-grid .product { padding-bottom: 37px; }