/* fillter */
.fillter{
	a{
		font-weight: 900;
		text-transform: uppercase;
		padding-bottom: 0;
		color: $text-color;
		margin-top: -7px;
		display: block;
	}
	label{
		@include rtl-margin-left(20px);
		font-weight: 100;
		line-height: 19px;
	}
	.panel-body{
		padding: 0;
	}
	.list-group{
		> div{
			&:last-child{
				@include rtl-border-right(none);
			}
			&.border-right{
				overflow:hidden;
				position: relative;
				&:before{
					position: absolute;
					content: "";
					width: 1px;
					height: 500px;
					background: $border-color;
					top: 0;
					@include rtl-right(19px);
					z-index: 9;
				}
				&:last-child{
					&:before{
						display: none;
					}
				}
			}
		}
	}
	.list-group-item{
		margin-bottom: -20px;
		> div{
			.checkbox{
				color: $gray-dark;
				input{
					margin-top: 2px;
				}
				&:nth-child(2), &:nth-child(4), &:nth-child(6){
					@include rtl-margin-left(59%);
    				margin-top: -29px;
				}
				&:hover{
					color: $text-color;
				}
			}
		}
	}
}
/* category */
.category{
    .list-group{
        margin-bottom: 0;
    }
    ul{
    	&.level1{
    		@include rtl-padding-left(0);
    	}
    	> li{
	    	@include rtl-padding-left(0);
	    	display: block;
	    	padding-bottom:8px;
	    	padding-top:8px;
	    	@include rtl-text-align-left();
	      > a{
	            text-transform: uppercase;
	            font-weight: 900;
	            color: $theme-color;
	            letter-spacing: 1px;
	        }
	    }
	    ul{
	    	@include rtl-padding-left(20px);
	    	> li{
	    		position:relative;
	    		padding:0;
	    		a{
	    			color: $text-color;
	    			font-weight: 100;
	    			letter-spacing: 0;
	    			text-transform: capitalize;
	    			&:hover,&:active,&:focus{
	    				color: $black;
	    				font-weight: 900;
	    			}
	    		}
	    	}
	    }
    }
   
}
.refine-search{
	ul{
		margin-bottom: 0;
		li{
			padding:0 15px;
			position:relative;
			&:before{
				content: ".";
                color: $theme-color;
                position:absolute;
                @include rtl-left(0);
                top: -8px;
                font-size: 30px;
			}
		}
	}
}
/* slidelayer */
.layerslider-wrapper{
    overflow: hidden;
}
.tparrows {
    position:absolute;
    top: 40% !important;
    z-index:9999;
    cursor:pointer;
    display: block; 
    @include transition(all 0.3s ease-in-out 0s);
    font-size: 0;
    &:before {
        content: "";
        display: inline-block;
        position: absolute;
        top: 0;
        @include size(113px,124px);
        z-index: 12;
        background-image: url(../image/arrow_left.png);
    }
    &.tp-rightarrow {
        &:before {
            background-image: url(../image/arrow_right.png);
            right: 0;
        }
    }
}
.tp-leftarrow {
    left: 8px !important;
}
.tp-rightarrow {
    right: 8px !important;
}
/* custom */
.custom-v1{
	margin-bottom: 40px;
	margin-top: 30px;
	.custom-heading{
		color: $theme-color;
		font-size: 22px;
		text-transform: capitalize;
	}
	.description{
		color: $light-gray;
		line-height: 20px;
	}
}
.home2{
	.custom-v1{
		padding: 45px;
		margin-bottom: 90px;
		margin-top: 84px;
		.panel-title{
			text-align: left;
		}
	}
}
.home3{
	.custom-v1{
		margin-top: 90px;
    	margin-left: 70px;
		> .panel-heading{
			background: url("../image/symbol-v2.png") no-repeat left bottom;
		    text-align: left;
		}
	}
}
/* banner home4 */
.style1{
	text-align:center;
	padding:80px 0 50px;
	img{
		display: inline-block;
	}
}
#input-captcha{
	margin-bottom: 15px;
}

/* pavtestimonial */
.pavtestimonial{
	color: $white;
	padding-top: 54px;
	padding-bottom: 64px;
	.testimonial{
		font-size: 32px;
		letter-spacing: -1px;
		margin-top: 10px;
		> div {
			display: inline-block;
		}
		p{
			&:first-child{
				position: relative;
				&:before{
					position: absolute;
					content: "";
					background-image: url(../image/icon.png);
					@include rtl-left(-46px);
					top: -10px;
					@include size(31px, 26px);
				}
			}
		}
	}
	.profile{
		font-size: 11px;
		text-transform: uppercase;
		background: #bfcde0;
		display: inline-block;
		height: 20px;
		line-height: 22px;
		margin-top: 25px;
		p{
			margin: 0;
		}
	}
}
.home2{
	.pavtestimonial{
		margin: 40px 0;
		background: url(../image/bg-testimonial2.jpg) no-repeat
	}
}

.home1{
	.circle{
		background: url(../image/bg_circle.png) no-repeat scroll 85% 50%;
	}
	.triangle{
		background: url(../image/bg_triangle.png) no-repeat scroll 15% 30%;
	}
	.square{
		background: url(../image/bg_square.png) no-repeat scroll 85% 0;
	}
}
.home2{
	.circle{
		background: url(../image/bg_circle.png) no-repeat scroll 85% 0;
	}
	.triangle{
		background: url(../image/bg_triangle.png) no-repeat scroll 13% 1%;
	}
	.square{
		background: url(../image/bg_square.png) no-repeat scroll 85% 100%;
	}
}

/* pav deal */
.item-countdown{
	li{
		border-right: 1px solid $border-color;
		padding: 0 10px;
		font-size: 13px;
		.countdown_num{
			font-weight: bold;
			color: $brand-primary;
			font-size: 15px;
		}
		&:last-child{
			border-right: none;
		}
	}
}